@charset "utf-8";
/* CSS Document */

<style type="text/css">


#Banner {
	height: 125px;
	width: 1024px;
}
#topNavigation {
	height: 45px;
	width: 1024px;
	
}
#main {
	height: 500px;
	width: 1024px;s
}
#Sub1 {
	height: 448px;
	width: 377px;
	float: left;
	background-image: url(Images/parchment-bgd.png);
	background-repeat:no-repeat;
}

#Sub2 {
	height: 448px;
	width: 522px;
	float: none;
	text-align:center;
	
	

}

#Sub2contact {
	height: 800px;
	width: 522px;
	float: center;
	text-align:center;
	background-image:url(Images/wanted.jpg);
	background-repeat:no-repeat;
	
	
}

#Sub2news {
	height: 800px;
	width: 600px;
	float: none;
	text-align: center;
	background-image:url(Images/parchmentfaq.png);
	background-repeat:no-repeat;
	background-position:inherit;
}

#footer {
	height: 35px;
	width: 1024px;
	bottom:0px;
	
    
	
}

#login {
	height: 270px;
	width: 160px;
	float:left;
}
#dateTimeValue {
	height: 45px;
	width: 1024px;
	text-align:left;
	color:#F00
		
}

.question {
	color: #F00;
}
#main #Sub2news table tr td .faq .answer-wrapper .answer {
	color: #00F;
}
#main #Sub2news table tr td .answer-wrapper .answer {
	color: #00F;
}
#main #Sub2news table tr td .faq .answer-wrapper .answer {
	color: #000;
} 

</style>